<div id="page-wrapper">
<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">
	  <div class="header-content">
		<div class="brand-area">
		  <img src="{{ absURL `/images/chibivero.png`}}" alt="Las Notas de Vero Logo" class="logo">
		  <div class="brand-text">Las Notas de Vero</div>
		</div>
		<nav id="nav">
		  <ul>
			<li><a href="/">Home</a></li>
			<li><a href="/tags/devocional">Devocionales</a></li>
			<li><a href="/tags/estudio-biblico">Estudios Bíblicos</a></li>
			<li><a href="/tags">Temas</a></li>
		  </ul>
		</nav>
	  </div>
	</header>
</div>
      
     