<div id="page-wrapper">
<!-- Header -->
<div id="header-wrapper">
	<header id="header" class="container">
	  <div class="header-content">
		<div class="brand-area">
		  <img src="{{ absURL `/images/chibivero.png`}}" alt="Las Notas de Vero Logo" class="logo">
		  <div class="brand-text">Las Notas de Vero</div>
		</div>
		<nav id="nav">
		  <ul>
			<li><a href="/">
    <img src="/images/casa.png" alt="Home"></a></li>
			<li><a href="/devocionales">Devocionales</a></li>
			<li><a href="/tags/estudios">Estudios</a></li>
      <li><a href="/tags/reflexion">Reflexiones</a></li>
			<li><a href="/tags">Temas</a></li>
		  </ul>
		</nav>
	<div class="social-header-icons">
  <a href="https://www.youtube.com/@LasNotasdeVero" target="_blank" rel="noopener noreferrer">
    <img src="/images/youtube.png" alt="YouTube">
  </a>
  <a href="https://t.me/LasNotasDeVero" target="_blank" rel="noopener noreferrer">
    <img src="/images/telegram.png" alt="Telegram">
  </a>
  <a href=" https://www.facebook.com/OvejitaVB/" target="_blank" rel="noopener noreferrer">
    <img src="/images/fb.png" alt="Facebook">

  <a href="https://www.facebook.com/profile.php?id=61578438839530" target="_blank" rel="noopener noreferrer">
    <img src="/images/logo_mujeres.png" alt="Mujeres de la Iglesia">
  </a>
    <a href="https://facebook.com/CitasYReflexionesCristianas" target="_blank" rel="noopener noreferrer">
    <img src="/images/logo_cyrc.png" alt="Citas y Reflexiones Cristianas">
  </a>
    <a href="https://www.facebook.com/profile.php?id=61579164777074" target="_blank" rel="noopener noreferrer">
    <img src="/images/logo_onevoice.png" alt="One Voice for the Lamb">
  </a>
</div>
	  </div>
	</header>
</div>
      
     